//fonts variables
$generalFont: 'MuseoSansCyrl',Arial,Tahoma,sans-serif;
$proxima: 'Proxima';
$exo: 'Exo';

//fonts sizes
$generalFontSize: 16px;

//common colors
$orange: #f6b559;
$black: #1e1e1e;
$border: #ebedef;

//bg colors variables
$bodyBg: #eff1f3;

//text colors
$generalColor: #1e1e1e;
$linkColor: #fff;

//container variables
$container1366: 1124px;
$container1280: 1080px;
$container1024: 830px;
$container768: 100%;
$container640: false;
$container480: false;
$container320: false;