/*=========Fonts begin=======*/
@font-face {
  font-family:'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-100.eot?21112016');
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix?21112016?21112016') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-100.woff?21112016') format('woff'),
  url('../fonts/MuseoSansCyrl-100.ttf?21112016') format('truetype'),
  url('../fonts/MuseoSansCyrl-100.otf?21112016') format('opentype'),
  url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-500?21112016') format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}
@font-face {
  font-family:'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-300.eot?21112016');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix?21112016') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-300.woff?21112016') format('woff'),
  url('../fonts/MuseoSansCyrl-300.ttf?21112016') format('truetype'),
  url('../fonts/MuseoSansCyrl-300.otf?21112016') format('opentype'),
  url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-500?21112016') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}
@font-face {
  font-family:'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-500.eot?21112016');
  src: url('../fonts/MuseoSansCyrl-500.eot?#iefix?21112016') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-500.woff?21112016') format('woff'),
  url('../fonts/MuseoSansCyrl-500.ttf?21112016') format('truetype'),
  url('../fonts/MuseoSansCyrl-500.otf?21112016') format('opentype'),
  url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500?21112016') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}
@font-face {
  font-family:'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-700.eot?21112016');
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix?21112016') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-700.woff?21112016') format('woff'),
  url('../fonts/MuseoSansCyrl-700.ttf?21112016') format('truetype'),
  url('../fonts/MuseoSansCyrl-700.otf?21112016') format('opentype'),
  url('../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-500?21112016') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}
@font-face {
  font-family:'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-900.eot?21112016');
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix?21112016') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-900.woff?21112016') format('woff'),
  url('../fonts/MuseoSansCyrl-900.ttf?21112016') format('truetype'),
  url('../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900?21112016') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}
@font-face {
  font-family:'Proxima';
  src: url('../fonts/Proxima Nova Black.eot?21112016');
  src: url('../fonts/Proxima Nova Black.eot?#iefix?21112016') format('embedded-opentype'),
  url('../fonts/Proxima Nova Black.woff?21112016') format('woff'),
  url('../fonts/Proxima Nova Black.ttf?21112016') format('truetype'),
  url('../fonts/Proxima Nova Black.otf?21112016') format('opentype'),
  url('../fonts/Proxima Nova Black.svg#Proxima Nova Black?21112016') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}
@font-face {
  font-family:'Exo';
  src: url('../fonts/Exo 2.eot?21112016');
  src: url('../fonts/Exo 2.eot?#iefix?21112016') format('embedded-opentype'),
  url('../fonts/Exo 2.woff?21112016') format('woff'),
  url('../fonts/Exo 2.ttf?21112016') format('truetype'),
  url('../fonts/Exo 2.otf?21112016') format('opentype'),
  url('../fonts/Exo 2.svg#Exo 2?21112016') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}
/*=========Fonts end=======*/