@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ln0lo1');
  src:  url('../fonts/icomoon.eot?ln0lo1#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?ln0lo1') format('truetype'),
  url('../fonts/icomoon.woff?ln0lo1') format('woff'),
  url('../fonts/icomoon.svg?ln0lo1#icomoon?ln0lo1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-facebook-dark:before {
  content: "\e900";
}
.icon-facebook-white:before {
  content: "\e901";
}
.icon-google-plus-dark:before {
  content: "\e902";
}
.icon-google-plus-white:before {
  content: "\e903";
}
.icon-instagram-dark:before {
  content: "\e904";
}
.icon-instagram-white:before {
  content: "\e905";
}
.icon-mir_share:before {
  content: "\e906";
}
.icon-odnoklassniki-dark:before {
  content: "\e907";
}
.icon-odnoklassniki-white:before {
  content: "\e908";
}
.icon-skype-dark:before {
  content: "\e909";
}
.icon-skype-white:before {
  content: "\e90a";
}
.icon-telegram-dark:before {
  content: "\e90b";
}
.icon-telegram-white:before {
  content: "\e90c";
}
.icon-twitter-dark:before {
  content: "\e90d";
}
.icon-twitter-white:before {
  content: "\e90e";
}
.icon-vk-dark:before {
  content: "\e90f";
}
.icon-vk-white:before {
  content: "\e910";
}
.icon-whatsapp-dark:before {
  content: "\e911";
}
.icon-whatsapp-white:before {
  content: "\e912";
}
.icon-youtube-dark:before {
  content: "\e913";
}
.icon-youtube-white:before {
  content: "\e914";
}
.icon-instagram-dark2:before {
  content: "\e915";
}


