/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body{
  margin:0px;
  padding:0px;
  font-family:$generalFont;
  background-color:$bodyBg;
  color: $generalColor;
  height:100%;
  position:relative;
  font-size: $generalFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;}
html{
  height:100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
input, textarea {
  color: #333;
  outline:none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  border: none;
}
textarea{
  resize: none;
  overflow: auto;
}
input[type="button"], input[type="submit"], button {
  cursor: pointer;
  border: none;
}
input[type=search]{
  border: none;
}
td{
  margin: 0px; padding: 0px;
}
form{
  padding: 0px; margin: 0px;
}
a{
  color: $generalColor;
  text-decoration:none;
  outline:none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=submit], input[type=button], button{
  -webkit-appearance: none;
  outline: none;
  padding: 0;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
*:before,*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
*:focus{
  outline: none;
}